.page {
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 50px;
  font-weight: 700;
}
