.section {
  background-color: var(--background);
  width: 80vw;
  height: 40vh;

  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.text {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.sectionTitle {
  font-size: 24px;
}

.subsection {
  min-width: 100%;
  min-height: 82px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subsectionText {
  font-weight: 400;
  text-align: center;
}

.buttonOrder {
  padding: 12px 30px;
  border-radius: 50px;
  background-color: var(--additional-color);
  border: none;
  cursor: pointer;
}

.buttonOrder:hover {
  background-color: rgb(227, 79, 96);
}

.buttonOrder:active {
  background-color: rgb(176, 28, 45);
}

.buttonOrder:disabled {
  background-color: rgb(103, 32, 40);
}

@media (max-width: 375px) {
  .section {
    min-width: fit-content;
    min-height: 250px;
  }
}

@media (min-width: 375px) {
  .section {
    min-width: 350px;
    min-height: 300px;
  }
}

@media (min-width: 768px) {
  .section {
    min-height: 350px;
  }

  .text {
    font-size: 22px;
  }

  .sectionTitle {
    font-size: 30px;
  }
}

@media (min-width: 1440px) {
  .section {
    max-width: 1400px;
  }
}
