.label {
  min-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.input {
  max-height: 64px;
  border-radius: 20px;
  padding: 20px;
  padding-top: 25px;
  border: 1px solid rgb(55, 55, 55);
  background-color: rgba(37, 36, 36, 0.8);
  outline: none;
  transition: all 0.2s ease;
}

.messageInput {
  min-height: 150px;
  resize: none;
}

.input::placeholder {
  color: transparent;
}

.placeholder {
  color: rgb(101, 100, 100);
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all 0.2s ease;
  pointer-events: none;
}

.input:focus {
  box-shadow: 0px 0px 50px 0px rgba(112, 112, 112, 0.25);
}

.input:not(:placeholder-shown) + .placeholder,
.input:focus + .placeholder {
  top: 8px;
  left: 20px;
  font-size: 12px;
}

.inputError {
  color: var(--additional-color);
  border: 1px solid var(--additional-color);
}

.error {
  text-align: center;
  color: var(--additional-color);
  line-height: 100%;
}
